<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
  </head>
  <body class="">
    <div class="container">
      <h1 class="text-danger"><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <div class="container row container-fluid well ">
        <div class="col-3 card card-well space m-1 ">
          <div class="space"></div>
        </div>
        <div class="col-3 card card-well bg-danger space m-1 ">
          <div class="space"></div>
        </div>
        <div class="col-3 card card-well space m-1 ">
          <div class="space"></div>
        </div>
        <div class="col-3 card card-well space bg-primary m-1 ">
          <div class="space"></div>
        </div>
        <div class="col-3 card card-well bg-default space m-1 ">
          <div class="space"></div>
        </div>
        <div class="col-3 card card-well bg-black space m-1 ">
          <div class="space"></div>
        </div>
      </div>
   </div>
  </body>
</html>
