body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.space{
  height: 400px;
  color: blue;
}
.na1{
  top: 50px;
  height: 55px;
  
}
.cont{
  top: left;
  float: left;
}
.pos{
  display: flex;
  justify-content: center;
   align-items: center;
   float: left;
}
.act{
  float: right;
  
}

.card .card-header[data-toggle=collapse].collapsed {
  border-radius: .35rem
}

.card .card-header[data-toggle=collapse].collapsed::after {
  content: '\f105'
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  padding: .5rem 1rem;
  margin: 0 .5rem;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  border-radius: .35rem;
  white-space: nowrap
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
  background-color: #eaecf4;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
  background-color: #dddfeb
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: #3a3b45;
  font-weight: 800
}

.sidebar #sidebarToggle {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer
}

.sidebar #sidebarToggle::after {
  font-weight: 900;
  content: '\f104';
  font-family: 'Font Awesome 5 Free';
  margin-right: .1rem
}

.sidebar #sidebarToggle:hover {
  text-decoration: none
}

.sidebar #sidebarToggle:focus {
  outline: 0
}



 
